{% load static %}
<!doctype <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Selamat datang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <div class="container-fluid">
        <h1 class="hello-sign">
            <span class="text-wrapper">
                <span class="letters">
                    Hello apa kabar ?
                </span>
                <span class="letters profile"><br>
                    <h3><a href="{% url 'profil' %}" data-toggle="tooltip" title="klik profilku dong!" style="text-align: left"><b>profil</b></a></br></h3>
                </span>
            </span>
        </h1>
    </div>

    <div class="container-fluid status">

        <form class="form-horizontal" action="{% url 'add_status' %}" method="post">
            {% csrf_token %}
            <div class="form-group">

                {{ message_form }}
            </div>
            <div class="form-group">

                <div>
                    <button type="submit" name="button" class="btn btn-primary btn-md pull-right">Submit</button>
                </div>

            </div>

        </form>
    </div>

    <div class="container-fluid list-status-message">

        <h4>Message Status</h4>
        <hr>

        <div class="table-responsive">
            <table class="table table-sm table-bordered table-dark" id="message_status_list" style="width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th>Message status</th>
                        <th>Created_At</th>
                    </tr>
                </thead>
                <tbody>

                    {% for i in message_status_list %}
                    <tr class="table-primary">
                        <td style="color:black">{{ i.message }} </td>
                        <td style="color:black">{{ i.created_at }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</body>

</html>