{% extends 'navbar.html' %}
{% load static %}

<title>Profil</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}" id="theme">
<script src="{% static 'js/lab_8.js' %}"></script>


<body>
{% block content %}
    <div class="card bg-dark text-white">
        <div class="card-body" style="text-align: center">
        Bintang Agung
        </div>  
    </div>

    <div class="acc">
    <button class="accordion">AKTIVITAS</button>
        <div class="panel">
            <p>kuliah dan bermain tiap hari</p>
            <p>tidak lupa makan dan menggosok gigi</p>
            <p>sebelum tidur ku harus ngoding, bangun tidur ku ngoding lagi</p>
        </div>

    <button class="accordion">PENDIDIKAN</button>
        <div class="panel">
            <p>belajar belajar dan belajar</p>
            <p>di Fasilkom Tercinta</p>
        </div>

    <button class="accordion">PENGALAMAN</button>
        <div class="panel">
            <p>dengan bangga, dapat menyelesaikan story dan challange 8</p>
            <p>dengan bersemangat, dapat survive dalam sotry 1-7</p>
        </div>
    </div>

    <button type="button" id="tema">Ganti Tema</button>

    <div id="loading">
            <img id="loading-image" src="http://cdn.nirmaltv.com/images/generatorphp-thumb.gif" alt="Loading..." />
    </div>
{% endblock %}

</body>