body{
    height:120vh;
    overflow: auto;
    background-color: #eee;
   }

.container-fluid {
       position: absolute;
       text-align: center;
       top: 15%;
       left: 50%;
       transform: translate(-50%, -50%);
   }

.status {
       position: absolute;
       text-align: center;
       top: 40%;
       left: 50%;
       transform: translate(-50%, -50%);
   }

.list-status-message {
   
       position: absolute;
       text-align: center;
       top: 75%;
       left: 50%;
       transform: translate(-50%, -50%);
   }

@media screen and (max-width: 700px) {
    .list-status-message {
           position: absolute;
           text-align: center;
           top: 80%;
           left: 50%;
           transform: translate(-50%, -50%);
       }
     
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    font :10vh;
}

.acc{
    margin: 20%;
    margin-top: 1%;
    margin-bottom: 5%;
}



#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: center;
    top: 100px;
    left: 240px;
    z-index: 100;
}